* {
  box-sizing: border-box;
  font-family: 'Kodchasan', sans-serif;
}

td {
  height: 30px;
  width: 30px;
  border: solid 1px black;
  color: green;
}

.black {
  background-color: black;
}

.container {
  display: flex;
  flex-direction: row;
}

.box {
  width: 20px;
  height: 20px;
  border: solid 1px black;
  border-left: none;
  border-top: none;
}

.box0 {
  border-left: none;
  border-top: none;
}

.box-row {
  border-left: none;
  display: flex;
  flex-flow: row-reverse;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box-col {
  border-top: none;
  word-break: break-all;
  line-height: 1;
  display: flex;
  flex-flow: column-reverse;
  flex-direction: column;
  justify-content: space-between;
}

.box-col div {
  margin: 0;
}

.boxi:hover {
  background-color: rgb(222, 220, 220);
}